body{
    height: 100vh;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 500px;
    height: 100px;
    background-color: darkblue;
    border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    margin: 5px;
    padding: 70px 20px;
    min-width: 400px;
}

img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    left: 40%;
    top: -50px;
}

.name {
  font-size: 13px;
  font-weight: 100;
}